<!DOCTYPE html>
<html>
    <head>
        <title> <%=title %></title>
        <link rel="stylesheet" href="../../assests/css/bootstrap.min.css">
    </head>
<!-- </html> -->
<body>
<div class="page-wrapper">
    <nav class="navbar navbar-dark" style="background-color: black ">
        <span class="navbar-brand mb-0 h1">
            <a href="/" style="color: #fff">
                <img src="../../assests/imgs/logo.png" width="55" height="55" alt="products management">
                Products Management
            </a>
        </span>
       <a  class="float-right btn btn-outline-danger" href="/add">Add a Product </a> 
    </nav>
</div>
